.timeline a:hover {
    text-decoration: none;
}
.timeline a h4, .timeline a h6 {
    color: var(--primary);
}
.timeline a:hover h4, .timeline a:hover h6 {
    color: var(--accent);
}
.timeline a:hover img {
    opacity: .5;
}
.timeline a h4 {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
