.ccard {
    border: none !important;
}
.ccard img {
    width: 100%;
    object-fit: cover;
    max-height: 225px;
    transition-property: opacity;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.ccard img:hover {
    opacity: .75;
}
.ccard > .card-body {
    padding: 1.25rem 0;
}
.ccard > .card-body a {
    color: var(--accent);
}
.ccard > .card-body > p {
    color: var(--primary);
}
