.future .events {
    padding: 1.25rem;
    color: var(--primary);
}

.future .events h1,
.future .events h2,
.future .events h3,
.future .events h4,
.future .events h5,
.future .events h6 {
    font-family: var(--text);
}

.future .events a {
    color: var(--accent);
}
.future .events a:hover {
    text-decoration: underline;
}
