.header {
    padding: 10em 16px;
    height: fit-content;
    text-align: center;
}
.header > h1, .header > h2 {
    color: var(--light);
}
.header > h1, .header > a {
    font-weight: bold;
}
.header > h1 {
    font-size: 46px;
}
.header > h2 {
    font-size: 26px;
}
.header strong {
    font-size: 115%;
}
.header .btn {
    border: 2px solid var(--light);
    color: var(--light);
}
.header .btn:hover {
    color: var(--primary);
    background-color: var(--light);
}

@media (min-width: 768px) {
    .header > h1 {
        font-size: 70px;
    }
    .header > h2 {
        font-size: 36px;
    }
}
