.subheader {
    background-color: var(--accent);
    text-align: center;
    padding: 3rem;
    padding-bottom: 7rem !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.subheader > .text > h4 {
    color: var(--light);
}
.subheader > .button > a {
    display: inline-block;
    background-color: var(--accent-dark);
    border-radius: 4px;
    transition-property: color, background-color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    color: var(--light);
    font-size: 1.6rem;
    font-family: var(--header);
    padding: .75rem;
}
.subheader > .button > a:hover {
    text-decoration: none;
    color: var(--accent-dark);
    background-color: var(--light);
}

@media (min-width: 425px) {
    .subheader > .button > a {
        font-size: 2rem;
        padding: 1rem;
        text-wrap: none;
        white-space: nowrap;
    }
}
@media (min-width: 992px) {
    .subheader {
        display: table!important;
        text-align: left;
    }
    .subheader > .text {
        display: table-cell;
        vertical-align: middle;
    }
}
