.footer {
    margin-top: 3rem;
}
.footer > .row {
    margin-bottom: 1rem;
}
.footer > .row > div > h4 {
    color: var(--light);
    padding: .5rem;
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    text-align: center;
}
.footer > p {
    text-align: center;
    padding: .5rem;
    width: 100%;
    font-size: .67rem;
}
.footer > p > a {
    color: var(--light);
}
