.newsletter > small {
    display: block;
    margin-bottom: 1rem;
}
.newsletter > small.error {
    color: var(--red);
}
.newletter > small.success {
    color: var(--green);
}
.newsletter > button {
    width: 100%;
}
.newsletter > button:hover {
    color: var(--primary);
}
