:root {
  --primary: black !important;
  --accent: #eb3b3b !important;
  --accent-dark: #a82f2f !important;
  --light: white !important;
  --dark: black !important;
  --header: 'Oswald', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  --text: Lato, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--text) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary) !important;
  color: var(--light) !important;
  overflow-x: hidden !important;
  -ms-overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: var(--accent);
}

.c-accent {
  color: var(--accent) !important;
}
.c-accent-dark {
  color: var(--accent-dark) !important;
}
.c-primary {
  color: var(--primary) !important;
}
.c-light {
  color: var(--light) !important;
}
.c-hover-accent:hover {
  color: var(--accent) !important;
}
.c-hover-primary:hover {
  color: var(--primary) !important;
}
.c-hover-light:hover {
  color: var(--light) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}
.bg-accent-dark {
  background-color: var(--accent-dark) !important;
}
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-light {
  background-color: var(--light) !important;
}
.bg-hover-accent:hover {
  background-color: var(--accent) !important;
}
.bg-hover-primary:hover {
  background-color: var(--primary) !important;
}
.bg-hover-light:hover {
  background-color: var(--light) !important;
}

.ff-text {
  font-family: var(--text) !important;
}
.ff-header {
  font-family: var(--header) !important;
}

.o-0 {
  opacity: 0 !important;
}
.o-25 {
  opacity: 0.25 !important;
}
.o-50 {
  opacity: 0.5 !important;
}
.o-75 {
  opacity: 0.75 !important;
}
.o-100 {
  opacity: 1 !important;
}
.o-hover-25:hover {
  opacity: 0.25 !important;
}
.o-hover-50:hover {
  opacity: 0.5 !important;
}
.o-hover-75:hover {
  opacity: 0.75 !important;
}
.o-hover-100:hover {
  opacity: 1 !important;
}
.pointer {
  cursor: pointer;
}

.transition {
  transition: 0.5s;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fade {
  0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}

.navbar {
  background-color: var(--light);
}
.nav-link {
  color: var(--primary);
  opacity: 0.5;
  font-size: .8rem;
  margin: 0.25rem 0.75rem;
  font-weight: bold;
}
.nav-link.active {
  opacity: 1;
}
.nav-link:hover {
  color: var(--accent);
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header);
  color: var(--accent);
}
hr {
  width: 100%;
  border: 1px solid var(--primary);
  opacity: .5;
}
